@{
    ViewBag.Title = "Home Page";
}

<div class="row col-md-12">
    <div col-md-6>
        <br />
        <select name="Country">
            <option value="Baku">Baku</option>
            <option value="Sydney">Sydney</option>
            <option value="Toronto">Toronto</option>
            <option value="Istanbul">Istanbul</option>
            <option value="Lagos">Lagos</option>
            <option value="Jakarta">Jakarta</option>
            <option value="Bergen">Bergen</option>


        </select>
    </div>
    <div col-md-6>
       <div class="whaetherinfo">
           <img src="~/Images/b38e85dc4c9f8002ad74b8a20f38f1e4 (1).jpg" width="120" height="120" />
           <ul class="list-group wheatherlist" >
            
           </ul>
       </div>

    </div>
</div>

